In [5]:
from math import tau
import numpy as np
import matplotlib.pyplot as plt
from numpy.random import default_rng
import pandas as pd

In [6]:
rng = default_rng()
df = pd.DataFrame(
    {
        "Number": 1.0,
        "String": "foo",
        "Angles": np.linspace(0, tau, 5),
        "Random": pd.Series(rng.standard_normal(5)),
        "Timestamp": pd.Timestamp("20221020"),
        "Size": pd.Categorical(["tiny", "small", "mid", "big", "huge"])
    })
df

   Number String    Angles    Random  Timestamp   Size
0     1.0    foo  0.000000 -1.012803 2022-10-20   tiny
1     1.0    foo  1.570796 -0.164810 2022-10-20  small
2     1.0    foo  3.141593  2.084318 2022-10-20    mid
3     1.0    foo  4.712389  0.523982 2022-10-20    big
4     1.0    foo  6.283185 -2.120702 2022-10-20   huge

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Number     5 non-null      float64
 1   String     5 non-null      object
 2   Angles     5 non-null      float64
 3   Random     5 non-null      float64
 4   Timestamp  5 non-null      datetime64[ns]
 5   Size       5 non-null      category
dtypes: category(1), datetime64[ns](1), float64(3), object(1)
memory usage: 549.0+ bytes